{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="{% static "/css/style.css" %}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script defer src="{% static "/js/script.js" %}"></script>
  <title>Got Game?</title>
</head>
<body>
  <header class="row">
    <nav class="indigo darken-4">
        <div class="nav-wrapper">
          <a href="/app/games" class="brand-logo center">Got Game?</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-ellipsis-v"></i></a>
          <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/app/games">GAMES</a></li>
            <li><a href="/forum">FORUM</a></li>
            <!-- <li><a href="/posts">POSTS</a></li> -->
          <!-- </ul>
          <ul class="right hide-on-med-and-down"> -->
            <li class="right"><a href="/app/signup">SIGN UP</a></li> 
            <li class="right"><a href="/app/login">LOGIN</a></li>
          </ul>
          <ul class="sidenav" id="mobile-demo">
            <li class="center"><a href="/app/games">GAMES</a></li>
            <li class="center"><a href="/forum">FORUM</a></li>
            <!-- <li class="center"><a href="/posts">POSTS</a></li> -->
            <li class="center"><a href="/app/signup">SIGN UP</a></li> 
            <li class="center"><a href="/app/login">LOGIN</a></li>
          </ul>
        </div>
      </nav>
  </header>
  <main class="row">
    <div id="background"></div>
    <div id="app">
      {% block content %}{% endblock %}
    </div>
  </main>
  <footer class="page-footer indigo darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Got Game?</h5>
            <p class="grey-text text-lighten-4">Made with &hearts; in DC</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
            <li><a href="/app/games">Games</a></li>
            <li><a href="/forums">Forum</a></li>
            <li><a href="/app/signup">Sign Up</a></li>
            <li><a href="/app/login">Login</a></li>
          </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; Kevon Eaglin 2018
          
          <!-- <a class="right" href="#!">More Links</a>> -->
        </div>
      </div>
    </footer>
  
</body>
</html>