* {
  box-sizing: border-box;
  /* border: 2px black solid; */
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-image: url('../img/gotgame-bg.jpg');
  background-size: cover;
}

header, footer, main {
  min-width: 100%;
}

footer {
  margin-bottom: 0 !important;
}

nav {
  box-shadow: none !important;
}

.nav-wrapper li a:hover {
  background-color: #1a237e !important; 
  text-decoration: overline underline;
}
/* .nav-wrapper li a {
  background-color: #1a237e !important; 
  border-bottom: 1px dotted;
  border-top: 1px dotted;
  padding-top: 3px;
  padding-bottom: 3px;
} */
/* 
nav ul a:before {
  content: '';
  bottom: -10px;
  top: -10px;
  border-width: 1px 0;
  border-style: solid;
  min-width: 100%;
}
nav ul a:after {
  content: '';
  bottom: -10px;
  top: -10px;
  border-width: 1px 0;
  border-style: solid;
  min-width: 100%;
} */

a {
  color: #69f0ae !important;
}

a:hover {
  color: white !important;
}

.brand-logo:hover {
  color: #69f0ae !important;
}

main {
  min-height: 100vh;
  margin-top: -20px;
  margin-bottom: 0 !important;
}

.sidenav {
  background: #1a237e;
}

li {
  list-style: none;
}

.game {
  margin: 20px 0;
}

img.game {
  height: 250px;
  width: 200px;
}

img.game:hover {
  border: 2px solid #69f0ae;
}

.post {
  border: 2px white solid;
}

.post-title {
  background: purple;
}

/* label color */
/* label { */
/* .input-field label { */
  /* color: #fff;
} */
/* label focus color */
/* label:focus {
  color: #26a69a !important;
}

/* label underline focus color */
/* label + input:focus {
  border-bottom: 1px solid #26a69a !important;
} */

input {
  color: white;
}

a.btn {
  color: white !important;
}