html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background: url('../img/gotgame-bg.jpg') no-repeat top center fixed;
  background-size: cover;
}

header, footer, main {
  min-width: 100%;
}

footer {
  margin-bottom: 0 !important;
}

nav {
  box-shadow: none !important;
}

.nav-wrapper li a:hover {
  background-color: #1a237e !important; 
  text-decoration: overline underline;
}

a {
  color: #69f0ae !important;
}

a:hover {
  color: white !important;
}

.brand-logo:hover {
  color: #69f0ae !important;
}

main {
  min-height: 100vh;
  margin-top: -20px;
  margin-bottom: 0 !important;
}

.sidenav {
  background: #1a237e;
}

li {
  list-style: none;
}

.game {
  margin: 20px 0;
}

img.game {
  height: 250px;
  width: 200px;
}

img.game-detail {
  height: 300px;
  width: 250px;
}

img.game:hover {
  border: 2px solid #69f0ae;
}

.post {
  /* color: black; */
  /* border: 2px white solid; */
  /* background: #2D3472d3; */
  /* background: #141414d3; */
  margin: 10px;
  padding: 0 !important;
  background: #141414d3;
}
.post-title {
  background: #1a227ebd;
  margin-top: 0;
  padding: 5px 0;
  border-bottom: solid 2px #141414;
}

/* 
Prospective Colors
47E5BC
like a mellow version of the green I'm already using

C03221
red
*/

/* My Colors */
/* 
  green 69f0ae
  purple 1a237e
  black 141414
  dusty purple 2d3472?
*/

/* label color */
/* label { */
/* .input-field label { */
  /* color: #fff;
} */
/* label focus color */
/* label:focus {
  color: #26a69a !important;
}

/* label underline focus color */
/* label + input:focus {
  border-bottom: 1px solid #26a69a !important;
} */

input {
  color: white;
}

a.btn {
  color: white !important;
}